In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 

warnings.filterwarnings('ignore')

In [11]:
import pandas as pd 
df=pd.read_csv(r'C:\Users\AYUSHI\Desktop\Flip Robo\Ratings_Prediction\Ratings.csv')

In [12]:
df

                                                 Reviews  Ratings
0      Thanks again Flipkart team the wonderful deliv...        4
1      Camera 4/5 if u able to set it properly\nBatte...        5
2      Very nice mobile and battry is very extra powa...        5
3      Excellent!!\nVery good mobile. I ordered it to...        5
4      Positive sides :\n1. Battery is very very powe...        4
...                                                  ...      ...
21665  Okay but as pr prices not features as per othe...        3
21666                                               Good        3
21667                                       good product        3
21668                            Good but rate is higher        3
21669                                       Nice product        3

[21670 rows x 2 columns]

In [13]:
df.dtypes

Reviews    object
Ratings     int64
dtype: object

In [14]:
df.isnull().sum()

Reviews    0
Ratings    0
dtype: int64

In [ ]:
reviews
reviews=df.columns[0]

### Natural Language Processing

In [16]:
!pip install nltk
import nltk
from nltk.tokenize import word_tokenize

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
Collecting regex>=2021.8.3
  Downloading regex-2022.6.2-cp38-cp38-win_amd64.whl (262 kB)
Requirement already satisfied: click in c:\users\ayushi\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\ayushi\anaconda3\lib\site-packages (from nltk) (4.63.0)
Requirement already satisfied: joblib in c:\users\ayushi\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\ayushi\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Installing collected packages: regex, nltk
Successfully installed nltk-3.7 regex-2022.6.2

### To split sentences into words

In [43]:
from pandas.core.apply import frame_apply
import nltk
nltk.download('punkt')

df['tokenized_sents'] = df.apply(lambda row: nltk.word_tokenize(row['Reviews']), axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AYUSHI\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [47]:
import string
punct=string.punctuation

In [45]:
from nltk.corpus import stopwords
nltk.download("stopwords")
stopwords=stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AYUSHI\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [58]:
df

,Reviews,Ratings,tokenized_sents
0,Thanks again Flipkart team the wonderful deliv...,4,"[Thanks, again, Flipkart, team, the, wonderful..."
1,Camera 4/5 if u able to set it properly\nBatte...,5,"[Camera, 4/5, if, u, able, to, set, it, proper..."
2,Very nice mobile and battry is very extra powa...,5,"[Very, nice, mobile, and, battry, is, very, ex..."
3,Excellent!!\nVery good mobile. I ordered it to...,5,"[Excellent, !, !, Very, good, mobile, ., I, or..."
4,Positive sides :\n1. Battery is very very powe...,4,"[Positive, sides, :, 1, ., Battery, is, very, ..."
...,...,...,...
21665,Okay but as pr prices not features as per othe...,3,"[Okay, but, as, pr, prices, not, features, as,..."
21666,Good,3,[Good]
21667,good product,3,"[good, product]"
21668,Good but rate is higher,3,"[Good, but, rate, is, higher]"
21669,Nice product,3,"[Nice, product]"

### To remove stopwords

In [62]:
df['cleaned_sents'] = df.apply(lambda row: [word for word in nltk.word_tokenize(row['Reviews'])if word not in stopwords if word not in punct],axis=1)

In [63]:
df

,Reviews,Ratings,tokenized_sents,cleaned_sents
0,Thanks again Flipkart team the wonderful deliv...,4,"[Thanks, again, Flipkart, team, the, wonderful...","[Thanks, Flipkart, team, wonderful, delivery, ..."
1,Camera 4/5 if u able to set it properly\nBatte...,5,"[Camera, 4/5, if, u, able, to, set, it, proper...","[Camera, 4/5, u, able, set, properly, Battery,..."
2,Very nice mobile and battry is very extra powa...,5,"[Very, nice, mobile, and, battry, is, very, ex...","[Very, nice, mobile, battry, extra, powar, cam..."
3,Excellent!!\nVery good mobile. I ordered it to...,5,"[Excellent, !, !, Very, good, mobile, ., I, or...","[Excellent, Very, good, mobile, I, ordered, fr..."
4,Positive sides :\n1. Battery is very very powe...,4,"[Positive, sides, :, 1, ., Battery, is, very, ...","[Positive, sides, 1, Battery, powerful, Certai..."
...,...,...,...,...
21665,Okay but as pr prices not features as per othe...,3,"[Okay, but, as, pr, prices, not, features, as,...","[Okay, pr, prices, features, per, company]"
21666,Good,3,[Good],[Good]
21667,good product,3,"[good, product]","[good, product]"
21668,Good but rate is higher,3,"[Good, but, rate, is, higher]","[Good, rate, higher]"
21669,Nice product,3,"[Nice, product]","[Nice, product]"